*{
    font-family: 'Montserrat', sans-serif;
    background: var(--color1);
}

/*slide---------------------------------------------------------------------------------------*/
body{
    background-image: url(../images/descarga.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*menu sociales aside--------------------------------------------------------------------------*/
.social-container{
    width: 5%;
    min-width: 70px;
    max-width: 100px;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 20;
}
.menu-social{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.menu-social li{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 2em;
    transition: 0.1s;
    transform-origin: right;
}
.menu-fb1 {
    background: blue;
    border-radius: 10px 0 0 0;
}
.menu-fb1 i{
    color: rgb(255, 255, 255);
}
.menu-tw1{
    background:rgb(147, 211, 233);
}
.menu-tw1 i{
    color: white;
}
.menu-yt1{
    background: red;
    border-radius: 0 0 0 10px;
}
.menu-yt1 i{
    color: white;
}
.social-container li:hover{
    transform: scale(1.2, 1);
    transition: 0.1s;
}
/*-----------------modificacion bootstrap------------------------------------------------------------*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.logo-img{
    font-size: 8em;
    background-color: black;
    color: white;
    border-radius: 50%;
}
.btn-menu{
   background: white;
}

.mynav  li:hover{
    background: darkblue;
}

.card *:not(a){
    color: blue;
   
}
.card a{
    background: darkblue;
}
/*-----container promo--------------------------------------------------------*/
.border-title{
    border-bottom: 2px solid black;
}
.txt-container{
    height: 100px;
    display: flex;
    align-items: center;

}
/*  item paquetes-----------------------------------------------*/
.icon-paquete{
    font-size: 7em;
    text-align: center;
    margin: 10px;  
}
.card:hover{
    background: rgb(238, 238, 238);
    border: 1px groove black;
}
/*footer------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px double darkblue;
    padding: 80px 0 80px 0;
}
footer a i{
    font-size: 2em;
    display: flex;
    text-align: center;
    background: blue;
    color: white;
    
}
.footer-item:nth-child(3){
    border-right: 1px solid white;
}
.footer-item{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
/* clases agregadas con js-------------------------------------------------------------------------------------------------------------*/
.img-fit{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.center-item{
    text-align: center;
}
/*sticky menu*/
.sticky-menu{
    position: fixed;
    top: 56px;
    width: 100%;
    z-index:10 ;
    transition: 0.3s;
}
.sticky-menu + div{
    padding-top: 56px;
  }
/*--responvie images slide-------------------------------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .menu-social li{
        font-size: 1.5em;
        line-height: 2em;
    }
    .img-fit{
        height: 350px;
    }
}

@media (max-width: 650px), (max-height: 400px){
    .img-fit{
        height: 280px;
    }
    .menu-social li{
        font-size: 1.3em;
        line-height: 2em;
    }
    .icon-paquete{
        font-size: 4em;
    }
    .card-text{
        font-size: 0.7em;
    }
}
/* @media (max-width: 550px){
    .img-fit{
        height: 250px;
    }
} */
